 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">CULTIVATE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/producto">Productos
                <span class="sr-only">(current)</span>
              </a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>

<div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Cursos 
        
      </h1>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <img  class="card-img-top" src="https://www.teknepolis.com/wp-content/uploads/2017/11/android-logo.png" alt="">
              <input id="produc1" value="https://www.teknepolis.com/wp-content/uploads/2017/11/android-logo.png" hidden="true">
               <input id="precio1" value="15000" hidden="true" >
            <div class="card-body">
              <h4 class="card-title">
                  <label id="nombre1">Curso de Android Fundamentals</label>
                  
              </h4>
              <blockquote><ul>
                  <li>Costo pro curso: $15000</li>
                  <li>Tiempo estimado del Curos : 01:00pm</li>
                  </ul></blockquote>
                <div class="col-md-4 col-offset-4"> 
                    <button type="button" onclick="boton1()" class="btn btn-primary">Mas unformacion</button>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDa8y8Bhtj2wGn9-1u46HJi2WuVEfZ51xmgeUjzdCubCzxQL_R" alt=""></a>
               <input id="produc2" value="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDa8y8Bhtj2wGn9-1u46HJi2WuVEfZ51xmgeUjzdCubCzxQL_R" hidden="true">
               <input id="precio2" value="17000" hidden="true" >
            <div class="card-body">
              <h4 class="card-title">
                  <label id="nombre2">Spring Boot</label>
              </h4>
              <blockquote><ul>
                  <li>Costo pro curso: $17000</li>
                  <li>Tiempo estimado del Curos : 01:00pm</li>
                  </ul></blockquote>
                 <div class="col-md-4 col-offset-4"> 
                    <button type="button" onclick="boton2()" class="btn btn-primary">Mas unformacion</button>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://www.tristatetechnology.com/blog/wp-content/uploads/2016/09/nodejs1.jpg" alt=""></a>
               <input id="produc3" value="https://www.tristatetechnology.com/blog/wp-content/uploads/2016/09/nodejs1.jpg" hidden="true">
               <input id="precio3" value="13000" hidden="true" >
            <div class="card-body">
              <h4 class="card-title">
                  <label id="nombre3">Node Js</label>
              </h4>
              <blockquote><ul>
                  <li>Costo pro curso: $13000</li>
                  <li>Tiempo estimado del Curos : 01:00pm</li>
                  </ul></blockquote>
                 <div class="col-md-4 col-offset-4"> 
                    <button type="button" onclick="boton3()" class="btn btn-primary">Mas unformacion</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    

    </div>
    <!-- /.container -->

<script type="text/javascript">

function boton1(){
  var nombre = document.getElementById('nombre1').innerText;
  var ruta = document.getElementById('produc1').value;
  var preciopro = document.getElementById('precio1').value;

  localStorage.setItem ("nombre", nombre);
  localStorage.setItem ("ruta", ruta);
 localStorage.setItem ("precio", preciopro);


  window.location.assign('http://localhost:3000/curso1')
}

    function boton2(){
  var nombre = document.getElementById('nombre2').innerText;
  var ruta = document.getElementById('produc2').value;
  var preciopro = document.getElementById('precio2').value;

  localStorage.setItem ("nombre", nombre);
  localStorage.setItem ("ruta", ruta);
 localStorage.setItem ("precio", preciopro);


  window.location.assign('http://localhost:3000/curso1')
}

    function boton3(){
  var nombre = document.getElementById('nombre3').innerText;
  var ruta = document.getElementById('produc3').value;
  var preciopro = document.getElementById('precio3').value;

  localStorage.setItem ("nombre", nombre);
  localStorage.setItem ("ruta", ruta);
 localStorage.setItem ("precio", preciopro);


  window.location.assign('http://localhost:3000/curso1')
}


</script>